/****** hearts *******/
.full {
    @include shade;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transition: opacity 1s;
}

.hearts {
    &:hover .full {
        opacity: 1;
        cursor: pointer;
    }
}