/****** hearts *******/
.empty {
    opacity: 1;
}

.restaurants_card_heart:hover .full {
    opacity: 1;
}

.menu_title_heart:hover .full {
    opacity: 1;
}

.menu_title_heart i {
    font-size: 25px;
}

.full {
    opacity: 0;
    @include shade;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}