/* Gradient */
/* ellipsis */
/***** media queries ******/
/****** General ***********/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.overlap {
  display: grid;
}

.overlap > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

* {
  font-family: "Roboto", sans-serif;
}

p {
  font-weight: 300;
  font-size: 18px;
}

.button {
  display: block;
  margin: auto;
  margin-top: 33px;
  margin-bottom: 40px;
  width: 218px;
  padding: 1em 0;
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: white;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  /* Shadow/Button */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.btn-small {
  width: 12em;
  margin-bottom: 1.5em;
}

/****** hearts *******/
.empty {
  opacity: 1;
}

.full {
  opacity: 0;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/***** header *****/
header {
  height: 4em;
  display: flex;
  align-content: center;
  align-items: center;
}
header i {
  font-size: 20px;
  color: #353535;
}
header h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 30px;
  margin: auto;
}
header a {
  position: absolute;
  font-size: 26px;
  margin: 1em;
}

/***** footer *****/
footer {
  color: white;
  background: #353535;
  padding-left: 1.5em;
  /********* media queries **********/
}
@media screen and (min-width: 767.98px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    padding: 3.5em 2.7em 1.5em 0;
  }
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 18px;
  padding: 1em 0 0.5em 0;
  /********* media queries **********/
}
@media screen and (min-width: 767.98px) {
  footer h2 {
    padding: 0 0 0 3%;
  }
}
@media screen and (min-width: 1024px) {
  footer h2 {
    padding: 0 3% 0 5%;
  }
}
footer p {
  padding-top: 0.2em;
  /********* media queries **********/
}
@media screen and (min-width: 767.98px) {
  footer p {
    padding-right: 0.5em;
  }
}
@media screen and (min-width: 1024px) {
  footer p {
    padding-right: 0.9em;
  }
}
footer i {
  font-size: 13px;
  margin-right: 0.5em;
}
footer address {
  padding: 0.3em 0 2em 0;
  /********* media queries **********/
}
@media screen and (min-width: 767.98px) {
  footer address {
    padding: 0.35em 0 0 0;
  }
}
footer a {
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.footer-links {
  /********* media queries **********/
}
@media screen and (min-width: 767.98px) {
  .footer-links {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .footer-links-gap {
    margin-right: 1.9em;
  }
}

/***** search *****/
.search {
  background: #EAEAEA;
  color: #353535;
  border-top: #d1caca solid 2px;
}
.search div {
  display: flex;
  align-content: center;
  width: 10em;
  margin: auto;
}
.search i {
  margin: 1em 0.5em 0 0;
}

input[type=text] {
  border: none;
  background-color: #EAEAEA;
  color: #353535;
  height: 3.2em;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

/***** explore *****/
.explore {
  background: #F6F6F6;
  padding-bottom: 28px;
}
.explore h2 {
  padding: 33px 0 12px 0;
}

.explore_container {
  margin: auto;
  width: 75%;
  text-align: center;
}

/***** functioning *****/
.functioning {
  padding-left: 4%;
  margin-bottom: 70px;
  /********* media queries **********/
}
@media screen and (min-width: 1024px) {
  .functioning {
    max-width: 1055px;
    margin: auto;
    margin-bottom: 30px;
    padding-left: 1em;
  }
  .functioning_cards {
    display: flex;
  }
}
.functioning h2 {
  margin-top: 48px;
  margin-bottom: 34px;
}
.functioning i {
  color: #7E7E7E;
  margin: 0 20px;
}
.functioning p {
  font-weight: 500;
  font-size: 16px;
}
.functioning_card {
  display: flex;
  background: #F6F6F6;
  width: 79%;
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  /********* media queries **********/
}
@media screen and (min-width: 1024px) {
  .functioning_card {
    margin-left: 1em;
    margin-right: 2em;
  }
}
.functioning_card_number {
  background-color: #9356DC;
  color: white;
  width: 30px;
  height: 24px;
  padding-top: 5px;
  margin-left: -35px;
  text-align: center;
  border-radius: 50%;
}
.functioning_card_content {
  display: flex;
  margin-top: 5px;
}
.functioning .functioning_card_logo-violet {
  color: #9356DC;
}

/***** restaurants *****/
.restaurants-background {
  background: #F6F6F6;
}

#restaurants {
  padding: 0 4% 0 4%;
  margin-bottom: 70px;
  /********* media queries **********/
}
@media screen and (min-width: 1024px) {
  #restaurants {
    max-width: 1055px;
    margin: auto;
    padding: 0 1em 0 1em;
    margin-bottom: 6px;
  }
}
#restaurants article {
  background-color: white;
  border-radius: 25px;
  margin-bottom: 1em;
  /********* media queries **********/
}
@media screen and (min-width: 1024px) {
  #restaurants article {
    width: 30em;
  }
}
#restaurants h2 {
  padding: 52px 0 16px 0;
  /********* media queries **********/
}
@media screen and (min-width: 1024px) {
  #restaurants h2 {
    padding: 28px 0 22px 0;
  }
}
#restaurants img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
#restaurants h3 {
  font-weight: 700;
  font-size: 18px;
  color: black;
}
#restaurants p {
  padding: 3px 0 10px 0;
  font-weight: 300;
  font-size: 17px;
  color: black;
}
#restaurants i {
  font-size: 23px;
}

@media screen and (min-width: 1024px) {
  .restaurants-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.restaurants_nouveau {
  color: #008766;
  background: #99E2D0;
  height: 1.34em;
  padding: 0.5em;
  margin: 4% 4% 0 71%;
  font-size: 14px;
  text-align: center;
}

.restaurants_card {
  display: flex;
  justify-content: space-between;
}
.restaurants_card_heart {
  margin: 0.8em 1.2em;
  /********* media queries **********/
}
@media screen and (min-width: 1024px) {
  .restaurants_card_heart {
    margin: 0.8em 0.7em;
  }
}

.restaurants_card_txt {
  margin: 10px 0 0 12px;
}

.restaurants_card_heart:hover .full {
  opacity: 1;
}

/********* restaurant **********/
.restaurant-img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.restaurant {
  display: flex;
  justify-content: space-between;
  background: #F6F6F6;
  margin-top: 13.7em;
  border-radius: 33px 33px 0 0;
  padding: 1em 1em 0 1em;
  /********* media queries **********/
}
@media screen and (min-width: 767.98px) {
  .restaurant {
    justify-content: center;
  }
}
@media screen and (min-width: 1055px) {
  .restaurant {
    width: 1055px;
    margin: auto;
    margin-top: 13.7em;
  }
}
.restaurant h2 {
  padding-top: 0.8em;
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 28px;
}
.restaurant_heart {
  padding-top: 1.8em;
  /********* media queries **********/
}
@media screen and (min-width: 767.98px) {
  .restaurant_heart {
    margin-left: 1.5em;
  }
}
.restaurant_heart:hover .full {
  opacity: 1;
}
.restaurant_heart i {
  font-size: 25px;
}

/***** menu ******/
.menu {
  /********* media queries **********/
}
@media screen and (min-width: 767.98px) {
  .menu {
    max-width: 634px;
    margin: auto;
  }
}
.menu h3 {
  padding-top: 1.7em;
  margin-bottom: 1.1em;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}
.menu h3 span {
  border-bottom: #99E2D0 0.2rem solid;
  padding-bottom: 0.3em;
}
.menu h4 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu p {
  font-weight: 300;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-background {
  background: #F6F6F6;
  border-radius: 0 0 33px 33px;
  padding: 0 1em 1em 1em;
  /********* media queries **********/
}
@media screen and (min-width: 1055px) {
  .menu-background {
    width: 1055px;
    margin: auto;
  }
}
.menu_item {
  background: white;
  margin: 0.8em 0;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  overflow: hidden;
}
.menu_item_line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  padding: 0.8em;
}
.menu_item_line_txt {
  font-weight: 700;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu_item_line_price {
  padding-top: 1.9em;
  font-weight: 700;
  font-size: 15px;
}
.menu_item_check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  background: #99E2D0;
  color: white;
  text-align: center;
  font-size: 19px;
  margin-right: -4em;
}

.menu_item:hover .menu_item_check {
  margin-right: 0;
}

/*# sourceMappingURL=style.css.map */
