    /********* restaurant **********/
    .restaurant-img {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }

    .restaurant {
        display: flex;
        justify-content: space-between;
        background: $gris;
        margin-top: 13.7em;
        border-radius: 33px 33px 0 0;
        padding: 1em 1em 0 1em;

        /********* media queries **********/
        @media screen and (min-width: 767.98px) {
            justify-content: center;
        }

        @media screen and (min-width: 1055px) {
            width: 1055px;
            margin: auto;
            margin-top: 13.7em;
        }

        h2 {
            padding-top: 0.8em;
            font-family: 'Shrikhand';
            font-weight: 400;
            font-size: 28px;
        }

        &_heart {
            padding-top: 1.8em;

            /********* media queries **********/
            @media screen and (min-width: 767.98px) {
                margin-left: 1.5em;
            }
        }

        &_heart i {
            font-size: 25px;
        }
    }

    /***** menu ******/
    .menu {

        /********* media queries **********/
        @media screen and (min-width: 767.98px) {
            max-width: 634px;
            margin: auto;
        }

        h3 {
            padding-top: 1.7em;
            margin-bottom: 1.1em;
            font-weight: 300;
            font-size: 16px;
            text-transform: uppercase;

            span {
                border-bottom: $tertiaire 0.2rem solid;
                padding-bottom: 0.3em;
            }
        }

        h4 {
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 0.3em;
            @include ellipsis;
        }

        p {
            font-weight: 300;
            font-size: 15px;
            @include ellipsis;
        }

        &-container {
            background: $gris;
            border-radius: 0 0 33px 33px;
            padding: 0 1em 1em 1em;

            /********* media queries **********/
            @media screen and (min-width: 1024px) {
                width: 1055px;
                margin: auto;
            }
        }

        &_item {
            background: white;
            margin: 0.8em 0;
            border-radius: 15px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            display: flex;
            overflow: hidden;

            &_line {
                display: flex;
                justify-content: space-between;
                width: 100%;
                overflow: hidden;
                padding: 0.8em;
            }

            &_line_txt {
                font-weight: 700;
                font-size: 15px;
                @include ellipsis;
            }

            &_line_price {
                padding-top: 1.9em;
                font-weight: 700;
                font-size: 15px;
            }

            &_check {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 4em;
                background: $tertiaire;
                color: white;
                text-align: center;
                font-size: 19px;
                margin-right: -4em;
            }
        }
    }