    /* Gradient */
    @mixin shade {
        background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
    }

    /***** media queries ******/
    @mixin restaurants-list-queries {
        @media screen and (min-width: 1024px) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }