    /* Gradient */
    @mixin shade {
        background: linear-gradient(0deg, $primaire -11.44%, $secondaire 123.93%);
    }

    /* ellipsis */
    @mixin ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }