$noir-clair: #353535;
$gris-sombre: #7E7E7E;
$gris-moyen: #d1caca;
$gris: #F6F6F6;
$gris-clair: #EAEAEA;
$gris-clair2: #D2D2D2;

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;

$vert: #008766;