/***** explore *****/
.explore {
    background: $gris;
    padding-bottom: 28px;

    h2 {
        padding: 33px 0 12px 0
    }
}

.explore_container {
    margin: auto;
    width: 75%;
    text-align: center;
}