/***** footer *****/
footer {
    color: white;
    background: $noir-clair;

}

footer em {
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    font-weight: 400;
}

footer a {
    color: white;
}