/***** footer *****/
footer {
    color: white;
    background: $noir-clair;
    padding-left: 1.5em;


    /********* media queries **********/
    @media screen and (min-width: 767.98px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
        padding: 3.5em 2.7em 1.5em 0;
    }

    h2 {
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        font-size: 18px;
        padding: 1em 0 0.5em 0;

        /********* media queries **********/
        @media screen and (min-width: 767.98px) {
            padding: 0 0 0 3%;
        }

        @media screen and (min-width: 1024px) {
            padding: 0 3% 0 5%;
        }
    }

    p {
        padding-top: 0.2em;

        /********* media queries **********/
        @media screen and (min-width: 767.98px) {
            padding-right: 0.5em;
        }

        @media screen and (min-width: 1024px) {
            padding-right: 0.9em;
        }
    }

    i {
        font-size: 13px;
        margin-right: 0.5em;
    }

    address {
        padding: 0.3em 0 2em 0;

        /********* media queries **********/
        @media screen and (min-width: 767.98px) {
            padding: 0.35em 0 0 0;
        }
    }

    a {
        color: white;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
    }
}

.footer-links {

    /********* media queries **********/
    @media screen and (min-width: 767.98px) {
        display: flex;
    }

    &-gap {
        @media screen and (min-width: 1024px) {
            margin-right: 1.9em;
        }
    }
}