/***** header *****/
header {
    height: 4em;
    display: flex;
    align-content: center;
    align-items: center;

    i {
        font-size: 20px;
        color: $noir-clair;
    }

    h1 {
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        font-size: 30px;
        margin: auto;
    }

    a {
        position: absolute;
        font-size: 26px;
        margin: 1em;
    }
}