/***** search *****/
.search {

    background: $gris-clair;
    color: $noir-clair;
    height: 50px;
    border-top: $gris-moyen solid 2px;

    div {
        display: flex;
        align-content: center;
        width: 145px;
        margin: auto;
    }

    i {
        margin: 16px 10px 0 0;
        // float: right;
        // margin-right: 6px;
        // margin-top: -20px;
        // position: relative;
        // z-index: 2;
    }
}

input[type="text"] {
    border: none;
    background-color: $gris-clair;
    color: $noir-clair;
    height: 50px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}